body {
    font-family: Arial, sans-serif;
    background-color: #00eeff;
}

header{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: linear-gradient(to buttom, #ff0000, #ff0000);
}

.hero-content {
    width: 50%;
}

.hero-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

button {
    background-color: #1b1212;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}

.info {
    padding: 50px;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aksi {
    padding: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}